brew "ansible"
brew "ansible-lint"
brew "autojump"
brew "bat"
brew "btop"
brew "cmake"
brew "curl"
brew "docker"
brew "dockutil"
brew "fzf"
brew "gh"
brew "iperf3"
brew "libtool"
brew "lsd"
brew "mas"
brew "neovim"
brew "neofetch"
brew "pkgconf"
brew "ripgrep"
brew "starship"
brew "unzip"
brew "yazi"
cask "docker-desktop"
cask "font-droid-sans-mono-nerd-font"
cask "google-chrome"
cask "microsoft-teams"
cask "raycast"
cask "tailscale-app"
cask "warp"
cask "whatsapp"
mas "WireGuard", id: 1451685025
