eval "$(/opt/homebrew/bin/brew shellenv)"
#source /opt/homebrew/Cellar/autojump/22.5.3_3/share/autojump/autojump.bash
eval "$(fzf --bash)"
eval "$(starship init bash)"
source ~/.bash_aliases
source /opt/homebrew/Cellar/autojump/22.5.3_3/share/autojump/autojump.bash

GPG_TTY=$(tty)
export GPG_TTY

export EDITOR=/opt/homebrew/bin/nvim
export VISUAL="$EDITOR"
export COLUMNS="120"

export PATH=~/.local/bin:$PATH
export BASH_SILENCE_DEPRECATION_WARNING=1
eval "$(starship init bash)"
export PATH=$HOME/Library/Python/3.9/bin:$PATH

[ -f ~/.fzf.bash ] && source ~/.fzf.bash
if command -v pyenv 1>/dev/null 2>&1; then
	eval "$(pyenv init -)"
fi
